MSData1.3.0/MSData/Service References/MksServiceReference/NoAjaxService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NoAjaxService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:82/PublishedMSData/NoAjaxService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:82/PublishedMSData/NoAjaxService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INoAjaxService_GetEmpSalary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpSalary" />
  </wsdl:message>
  <wsdl:message name="INoAjaxService_GetEmpSalary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpSalaryResponse" />
  </wsdl:message>
  <wsdl:message name="INoAjaxService_AdjustBalance_InputMessage">
    <wsdl:part name="parameters" element="tns:AdjustBalance" />
  </wsdl:message>
  <wsdl:message name="INoAjaxService_AdjustBalance_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdjustBalanceResponse" />
  </wsdl:message>
  <wsdl:portType name="INoAjaxService">
    <wsdl:operation name="GetEmpSalary">
      <wsdl:input wsaw:Action="http://tempuri.org/INoAjaxService/GetEmpSalary" message="tns:INoAjaxService_GetEmpSalary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INoAjaxService/GetEmpSalaryResponse" message="tns:INoAjaxService_GetEmpSalary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdjustBalance">
      <wsdl:input wsaw:Action="http://tempuri.org/INoAjaxService/AdjustBalance" message="tns:INoAjaxService_AdjustBalance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INoAjaxService/AdjustBalanceResponse" message="tns:INoAjaxService_AdjustBalance_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INoAjaxService" type="tns:INoAjaxService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmpSalary">
      <soap:operation soapAction="http://tempuri.org/INoAjaxService/GetEmpSalary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdjustBalance">
      <soap:operation soapAction="http://tempuri.org/INoAjaxService/AdjustBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NoAjaxService">
    <wsdl:port name="BasicHttpBinding_INoAjaxService" binding="tns:BasicHttpBinding_INoAjaxService">
      <soap:address location="http://localhost:82/PublishedMSData/NoAjaxService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>